<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome, <%=username%></h1>
    <form method="POST">
        <div>
            Grade
            <input type="number" name="grade"/>
        </div>
        <div>
            Credit
            <input type="number" name="credit"/>
        </div>
        <button type="menu">Next</button>
        <button type="submit">Caculate</button>

    </form>

</body>
</html>